/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #1a1a2e, #0c0c0c);
    background: #1a1a2e;
    color: #ffffff;
    overflow-x: hidden;
}

.main-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}


.ocean {
    /* height: 5%; */
    height: 0%;
    width: 100%;
    position: fixed;
    bottom: 0; 
    left: 0;
    background: #1a1a2e;
    z-index: -1;
}

.wave {
    background: url('media/wave.svg') repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.intro {
    text-align: left;
    padding: 3rem 0;
    position: relative;
}

.intro img {
    width: 15rem; 
    float: right;
    margin-top: 3rem;
}

.intro img:hover {
    content: url('media/purple.png');
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 7.5rem;
    float: right;
}

.social-icons a {
    margin-left: 1rem;
}

.social-icons svg {
    width: 5rem;
    height: 5rem;
    fill: #ffffff;
}

.social-icons svg:hover {
    fill: #a29bfe;
}

.intro h2 {
    font-size: 6rem;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto;
}

.intro .highlight {
    font-size: 5.5rem;
    background: linear-gradient(90deg, #a29bfe, #6c5ce7, #a29bfe); 
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    animation: gradientAnimation 5s ease infinite; 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.intro p {
    font-size: 3rem;
}

.intro p:last-child:after {
    animation: blink 1s infinite;
    content: "_";
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

/* .intro .highlight {
    color: #a29bfe;
} */

.featured-posts, .popular-tags, .posts, .newsletter {
    margin: 50px 0;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.posts-grid > * {
    flex: 0 0 calc((100% / 4) - 1rem);
    box-sizing: border-box;
}


.post {
    padding: 20px;
    border-radius: 10px;
    width: 100%; 
    position: relative;
}

.language-tag {
    font-size: 12px; 
    background: none;
    border: 1px solid #a29bfe;
    color: #a29bfe;
    padding: 5px 10px;
}

.post img {
    width: 100%;
    border-radius: 10px;
    display: block; 
    margin: 0 auto; 
}

.img-container {
    position: relative;
    width: 100%;
    padding-top: 75%; 
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    display: block; 
    margin: 0 auto;
}

.post h4 {
    font-size: 18px;
}

.post p {
    font-size: 14px;
    margin: 10px 0;
}

.post small {
    color: #a29bfe;
}

h3 {
    font-size: 2rem;
}

footer {
    padding: 10px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #a29bfe;
}

@media (max-width: 1000px) {

    .posts-grid > * {
        flex: 0 0 calc((100% / 3) - 1rem);
        box-sizing: border-box;
    }

    .intro img {
        width: 5rem; 
        float: none;
        margin-bottom: 2rem;
        margin-top: 0rem;
        display: block;
    }

}

@media (max-width: 768px) {

    .main-section {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
    }

    .intro {
        /* align-content: center;
        text-align: center; */
    }

    .intro h2 {
        font-size: 3rem;
        clear: both;
    }

    .intro .highlight {
        font-size: 2.5rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    .intro img {
        width: 5rem;
        float: none; 
        margin-bottom: 2rem;
        margin-top: 0rem;
        display: block;
    }

    .intro img:hover {
        content: url(media/purple.png);
    }

    .posts-grid {
        flex-direction: column;
    }

    .post {
        width: 100%;
    }

    .load-more {
        font-size: 12px;
        background: none;
        border: 1px solid #a29bfe;
        color: #a29bfe;
        padding: 5px 10px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
    }

    .load-more.desktop {
        display: none; /* Hide on desktop */
    }

    h3 {
        font-size: 1.5rem;
    }

}

footer .container ul li a svg {
    fill: white;

footer .container ul li a svg:hover{
    fill: #a29bfe;
}
