/* Resetting default margin and padding for elements */

body,
h1,
h2,
p,
.project-description {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    /* Use a monospace font for code-like sections */
}


/* Dracula color scheme */

:root {
    --background: #282a36;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

.light-mode {
    --background: #f8f8f8;
    --foreground: #282a36;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}


/* Main section styles */

body {
    background-color: var(--background);
    color: var(--foreground);
}

.custom-link {
    color: var(--pink);
}

.custom-link:hover {
    color: var(--orange);
}

.custom-class {
    font-size: medium;
    font-weight: bold;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    color: var(--purple);
}

.bio {
    color: var(--foreground);
}


/* Other pages styles */

.other-pages {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.page {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


/* Scrollbar style */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--comment);
    border-radius: 4px;
}


/* Hide scrollbar in Firefox */

body {
    scrollbar-width: thin;
    scrollbar-color: var(--comment) transparent;
}


/* CSS for coin flip animation */

@keyframes coinFlip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}


/* Apply the animation to the image */

.flip-animation {
    animation: coinFlip 0.5s ease-in-out;
}


/* CSS for the glitch effect */

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-5px, 5px);
    }
    50% {
        transform: translate(5px, -5px);
    }
    75% {
        transform: translate(-5px, 5px);
    }
    100% {
        transform: translate(0);
    }
}

.glitch-effect {
    animation: glitch 0.5s infinite;
}


/* Mosaic layout styles */

.projects {
    display: grid;
    /* Anything below 19em will mess things up */
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}


/* apply side by side layout for screens wider than 600px */

@media (min-width: 200px) {
    .projects {
        display: grid;
        gap: 1em;
    }
}


/* CSS to center the images within project cards */

.project-card {
    text-align: center;
}

.project-image {
    display: block;
    margin: 0 auto;
}


/* Hide the container initially */

.hidden-text-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: var(--purple);
    /* Add this line to set the text color */
}


/* Reveal the container on hover */

.page:hover .hidden-text-container,
.page:active .hidden-text-container {
    opacity: 1;
}